body{
    font-family: var(--fontSelected);
}


cursor-pointer{
    cursor: pointer;
}

.d-flow-root{
    display: flow-root !important;
}

.ms-scroller-hidden::-webkit-scrollbar{
    display: none;
}



