:root{


    /* [Colors] */
    --primaryColor1:   #15244b;
    --primaryColor2:   #334783;
    --primaryColor3:   #7887b2;
    --primaryColor4:   #8c9ac2;
    --primaryColor5:   #9daad0;

    --secondaryColor1: #fab01b;
    --secondaryColor2: #f5bf53;
    --secondaryColor3: #f6d086;
    --secondaryColor4: #efdcb3;
    --secondaryColor5: #fcf5e7;

    --errorColor1:     #691d21;
    --errorColor2:     #ab5258;
    --errorColor3:     #f6b1b7;
    --errorColor4:     #f8d7da;
    --errorColor5:     #ffedee;

    --warningColor1:   #b4500c;
    --warningColor2:   #f47920;
    --warningColor3:   #eca574;
    --warningColor4:   #ffe4d0;
    --warningColor5:   #fff1e7;

    --infoColor1:      #077af1;
    --infoColor2:      #268efc;
    --infoColor3:      #66afff;
    --infoColor4:      #afd2f8;
    --infoColor5:      #dbecff;

    --successColor1:   #06502d;
    --successColor2:   #2e9f6b;
    --successColor3:   #64c598;
    --successColor4:   #ceefe0;
    --successColor5:   #e9faf2;

    --shadowColor1:    #41414180;
    --shadowColor2:    #79787880;
    --shadowColor3:    #9F9E9E80;
    --shadowColor4:    #CCCCCC80;
    --shadowColor5:    rgb(232 232 232 / 0.5);

    --darkColor1:      rgb(30,30,30);
    --darkColor2:      rgb(157,157,157);
    --darkColor3:      rgb(183, 183, 183);
    --darkColor4:      rgb(218, 218, 218);

    --shanColor1:      #ffffff;
    --shanColor2:      #f4f4f4;
    --shanColor3:      #f1f1f1;
    --shanColor4:      #e8e8e8;



    /* [Border-Width] */
    --borderWidthXSmall:   1px;
    --borderWidthSmall:    1px;
    --borderWidthMedium:   2px;
    --borderWidthLarge:    2px;
    --borderWidthXLarge:   3px;
    --borderWidthXXLarge:  4px;


    /* [Border-Radius] */
    --borderRadiusXSmall:  2px;
    --borderRadiusSmall:   5px;
    --borderRadiusMedium:  7px;
    --borderRadiusLarge:   9px;
    --borderRadiusXLarge:  11px;
    --borderRadiusXXLarge: 13px;


    /* [Margin] */
    --marginXSmall:  1px;
    --marginSmall:   2px;
    --marginMedium:  3px;
    --marginLarge:   4px;
    --marginXLarge:  5px;
    --marginXXLarge: 6px;

    /* [Padding] */
    --paddingXSmall:  1px;
    --paddingSmall:   2px;
    --paddingMedium:  3px;
    --paddingLarge:   4px;
    --paddingXLarge:  5px;
    --paddingXXLarge: 6px;


    /* [Height] */
    --heightXSmall:  16px;
    --heightSmall:   18px;
    --heightMedium:  20px;
    --heightLarge:   22px;
    --heightXLarge:  24px;
    --heightXXLarge: 26px;


    /* [FontSize] */
    --fontSizeXSmall:  9px;
    --fontSizeSmall:   10px;
    --fontSizeMedium:  11px;
    --fontSizeLarge:   12px;
    --fontSizeXLarge:  13px;
    --fontSizeXXLarge: 14px;


    /* [IconSize] */
    --iconSizeXSmall:  14px;
    --iconSizeSmall:   16px;
    --iconSizeMedium:  18px;
    --iconSizeLarge:   20px;
    --iconSizeXLarge:  22px;
    --iconSizeXXLarge: 24px;



    --fontVazir:           "Vazir";
    --fontBYekan:          "B Yekan";
    --fontIranianSans:     "A Iranian Sans";
    --fontSelected:        var(--fontVazir) , var(--fontBYekan) , var(--fontIranianSans);

}